extends layout 
block content 
  h1 Articles 
  h2 #{title}
  table.table
    tr
      td Article Name 
      td Article Description
    each article , i in articles 
      tr
        td= article.title 
        td= article.desc